
mixin menu_item(cn, en)
	li
		a(href='#').active 
			p
				strong!= cn
			p.small!= en

.row.top
	.top-center(class='col-md-#{gsize} col-xs-#{gsize} col-md-offset-#{gosize} col-xs-offset-#{gosize}')
		.menu-block.col-md-8.col-xs-8
			.logo-block
				.logo.col-md-5.col-xs-5
					a(href='#')
						img(src='/images/mino-logo.png')
				.slogan.col-md-7.col-xs-7.text-left 
					p 
						strong 文化是权利，是资源，是创造力；对少数民族而言，文化尤为如此。这里是少数民族文化发展合作平台，敬请参与。
					p.small Civil Society Empowerment in China: Guaranteeing and Developing Cultural Rights of Ethnic Minorities.
			.menu
				ul.nav.navbar-nav.text-center
					+menu_item('首页','HOME')
					+menu_item('法律与公约','LAWS & CONVENTIONS')
					+menu_item('案例与方法','CASE STUDY')
					+menu_item('咨询与合作','GET INVOLVED')
					+menu_item('关于我们','ABOUT US')
					+menu_item('捐赠','DONATE')
		.flowers.col-md-4
			img(src='/images/flowers.png')
